<app-menu class="menu"></app-menu>
<div class="capaFoto"> 
  <img height="860" src="./assets/imagenes/pelado.jpg" width="1600"> 
</div> 

<div class=" titulo" >
    <br>
  <h2>¿Quien Soy?</h2>
</div>

<div class="capaTexto1">
<p align="center">PRESENTACION</p>
  Mi nombre es Alan Sbaglia y soy estudiante <br>de la UTN (Facultad Regional Avellaneda).<br>
  La pagina en la que tú estas navegando <br> consiste en una sala de juegos, en la cual<br>
  podrás interactuar con cada uno de ellos <br> y superarte a ti mismo! Que te diviertas!
</div>

<div class="capaTexto2">
 <p align="center">COLORES</p>
 El objetivo del juego es poder dejar todos <br>los botones en un mismo color, ya sea rojo,<br>
 celeste, azul, amarillo, o verde. Para ello, <br>se debe encontrar el patrón que siguen los <br>
 mismos al presionarlos.
</div>