<!--div>
    <button routerLink="/Principal">Principal</button>
    <button (click)="Juego('Adivina')">Adivina</button>
    <button (click)="Juego('Agilidad')">Agilidad</button>
    <button (click)="Juego('AdivinaMasListado')">Adivina+listado</button>
    <button (click)="Juego('AgilidadaMasListado')">Agilidad+listado</button>  
    <button routerLink="/error">Error</button>
  
</div-->

<!--nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/Principal">Inicio</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/Juegos">Juegos</a></li>
        <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
        <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
        <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
        <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
    </div>
  </nav-->


    <nav class="navbar navbar-inverse "><!--colornav    https://www.w3schools.com/cssref/pr_class_cursor.asp-->
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"href="#">Sala de Juegos</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Juegos<span class="caret"></span></a>
              <ul class="dropdown-menu" style="cursor:pointer">
                  <li><a  (click)="Menu('AdivinaMasListado')">Adivina</a></li>
                  <li><a  (click)="Menu('AgilidadMasListado')">Agilidad</a></li>
                  <li><a  (click)="Menu('PPTMasListado')">Piedra,Papel,Tijera</a></li>
                  <li><a  (click)="Menu('AnagramaMasListado')">Anagrama</a></li>
                  <li><a  (click)="Menu('ColoresMasListado')">Colores</a></li>
              </ul>
            </li>
            <li><a  (click)="Menu('Listado')" style="cursor:pointer">Listado</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a (click)="Menu('QuienSoy')"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
            <li><a href="https://github.com/alanns7"target="_blank">en GitHub <i class="fa fa-github"></i></a></li>
            <li><a (click)="Menu('Login')"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>

    
 
      
   