<br><br>
<div class="container colorLetra" align="center">
    
    <div class="row row-margin-bottom">
    <div class="col-md-5 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow">
                <div class="col-md-6">
                    <img class="imagen" src="./assets/imagenes/cerebro.gif">
                </div>
                <div class="col-md-6">
                    <div class="lib-row lib-header">
                        VELOCIDAD Y AGILIDAD ARITMETICA
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        Juego de agilidad mental
                    </div><br>
                    <p> <button class="btn btn-primary"  (click)="Juego('Agilidad')">Jugar</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
        <div class="col-md-5 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="imagen" src="./assets/imagenes/pptt.gif">
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            PIEDRA, PEPEL O TIJERA
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                           Juega contra la máquina
                        </div><br>
                        <p> <button class="btn btn-primary"  (click)="Juego('PPT')">Jugar</button></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
      <div class="row row-margin-bottom">
          <div class="col-md-5 no-padding lib-item" data-category="view">
              <div class="lib-panel">
                  <div class="row box-shadow">
                      <div class="col-md-6">
                          <img class="imagen" src="./assets/imagenes/adivina.gif">
                      </div>
                      <div class="col-md-6">
                          <div class="lib-row lib-header">
                              ADIVINA EL NUMERO SECRETO
                              <div class="lib-header-seperator"></div>
                          </div>
                          <div class="lib-row lib-desc">
                             Juego de estrategia
                          </div><br>
                          <p> <button class="btn btn-primary"  (click)="Juego('Adivina')">Jugar</button></p>
                      </div>
                  </div>
              </div>
          </div>
    <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="imagen" src="./assets/imagenes/colores.gif">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                COLORES
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Unifica el color de los botones
                            </div><br>
                            <p> <button class="btn btn-primary"  (click)="Juego('colores')">Jugar</button></p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
          <div class="row row-margin-bottom">
              <div class="col-md-5 no-padding lib-item" data-category="view">
                  <div class="lib-panel">
                      <div class="row box-shadow">
                          <div class="col-md-6">
                              <img class="imagen" src="./assets/imagenes/anagrama.gif">
                          </div>
                          <div class="col-md-6">
                              <div class="lib-row lib-header">
                                  ANAGRAMA
                                  <div class="lib-header-seperator"></div>
                              </div>
                              <div class="lib-row lib-desc">
                                  Ordena la palabra
                              </div><br>
                              <p> <button class="btn btn-primary"  (click)="Juego('anagrama')">Jugar</button></p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
</div>