
<div align= "center" >
    <div style="color:rgb(106, 171, 231)">
        <h1>AGILIDAD ARITMETICA</h1>
    </div>
        <br><br>

<input type="text"value="{{juegoCalculo.numero1}}" name="num1">

<input type="text" value="{{juegoCalculo.operadorCaracter}}" name="signo" >

<input type="text" value="{{juegoCalculo.numero2}}" name="num2"><br><br>

<input type="button" class="btn btn-primary" value="JUGAR" name="jugar" (click)="juegoCalculo.Jugar()"><br><br>

<input type="text" placeholder="Escribe la respuesta" [(ngModel)]="juegoCalculo.numeroIngresado" name="numeroIngresado" [ngModelOptions]="{standalone: true}" required><br><br>

<input type="button" class="btn btn-primary" value="SIGUIENTE" name="siguiente" (click)="juegoCalculo.Siguiente()"><br><br>

<p>Ronda Numero: {{juegoCalculo.ronda}}</p>

<div *ngIf="juegoCalculo.contador==3">
<p  [hidden]="!juegoCalculo.gano"> Gano</p>
<p [hidden]="juegoCalculo.gano"> No Gano</p>
</div>

</div>