<div align="center" class="titulo">
  <h3>COLORES!</h3><br>
</div>
<div align="center" class="titulo">
<h4>El objetivo del juego es poder dejar todos en un mismo color, ya sea rojo, celeste, azul, amarillo, o verde,<br>
  en menos de 10 intentos. Para ello, se debe encontrar el patrón que siguen los mismos al presionarlos.
  ¡Que te diviertas!
</h4>
</div>


<div align="center">

    <br><br><br>
<input type="button" name= "button1" class="{{color1}}" (click)="Cambio('button1')" value="DEBES APRETARME"  style='width:350px; height:100px'><br><br>

<input type="button" name= "button2" class="{{color2}}" (click)="Cambio('button2')" value="MEJOR A MI" style='width:350px; height:100px'><br><br>

<input type="button" name= "button3" class="{{color3}}" (click)="Cambio('button3')" value="YO SOY EL INDICADO" style='width:350px; height:100px'><br><br>

<input type="button" name= "button4" class="{{color4}}" (click)="Cambio('button4')" value="AQUI ESTOY" style='width:350px; height:100px'><br><br>

<input type="button" name= "button5" class="{{color5}}" (click)="Cambio('button5')" value="PRUEBAME" style='width:350px; height:100px'><br><br>


<div class="contador">
        <h3>CONTADOR: {{contador}}</h3>
</div>

<div class="gano" *ngIf="contador==0">
        <h3>{{resultado}}</h3><br><br>
        <button type=button class="button button1" value="Volver a jugar" name="Nuevo" (click)="generar()">Volver a jugar</button><br><br>
    </div>

    <!-- <div *ngIf="({{contador}} <= 10) ">
        <p  [hidden]="!juegoCalculo.gano"> Gano</p>
        <p [hidden]="juegoCalculo.gano"> No Gano</p>
    </div> -->



</div>
