/* You can add global styles to this file, and also import other style files */
body {
    /* Ubicación de la imagen */
    background-image: url("./assets/imagenes/fondo.png ") ;
    /* Nos aseguramos que la imagen de fondo este centrada vertical y
      horizontalmente en todo momento */
      background-repeat:no-repeat;
      background-position:center center;
      background-attachment:fixed;
      -o-background-size: 100% 100%, auto;
      -moz-background-size: 100% 100%, auto;
      -webkit-background-size: 100% 100%, auto;
      background-size: 100% 100%, auto;
    
  }


  .colorLetra{
    color:rgb(106, 169, 224);
    font-family: cursive; 
}
